*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img-wrapper{
    max-width: 150px;
}
.img-wrapper img{
    object-fit: cover;
    border-radius: 10px;
}
.edu-card{
    border: 1px solid white;
    border-radius: 10px;
}
.edu-card img{
    margin-inline: auto;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
}

.project-card{
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 10px;
    max-width: 450px;
    min-height: 400px;
   
}
.project-card h1{
    font-size: 20px;
}
.project-card a{
    padding: 2px 5px;
    border: 2px solid ;
    border-radius: 4px;
    display: inline-block;
    margin-block: 5px;
}

.connect img{
    max-width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

